.map{
    height: 100%;
    .map-container{
    height: 100%;

        .containerMap {
            height: 100%;
            width: 100%;
            display: flex;
        
            div:first-child {
                z-index: 0;
            }
            .map-settings {
                padding: 20px;
                z-index: 5;
                width: 300px;
                background-color: #fff;
                margin: 12px;
                border-radius: 15px;
                padding-top: 50px;
                
                .form-group {
                    margin-top: 10px;
                    .title {
                        font-family: Roboto;
                        font-style: normal;
                        font-size: 15px;
                        // text-transform: uppercase;
                        font-weight: 500;
                    }
                    .form-control {
                        margin-top: 5px;
                        width: 80%;
                        border-radius: 5px;
                        padding: 4px;
                        font-size: 14px;
                        border: 1px solid black;
                    }
                  
                }
                .btn {
                    cursor: pointer;
                    border: none;
                    margin-top: 24px;
                    background: rgba(29, 185, 234, 1);
                    color: white;
                    border-radius: 5px;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 15px;
                }
            }
        }
    }
}