.containerMap {
    height: 100%;
    width: 100%;
    display: flex;

    div:first-child {
        z-index: 0;
    }
    .map-settings {
        padding: 5px;
        z-index: 5;
        width: 300px;
        background-color: #fff;
        margin: 12px;
        border-radius: 15px;
        &_title {
            font-family: Roboto;
            font-style: normal;
            margin-left: 20px;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            text-transform: uppercase;
            color: #454545
        }
        &_list {
            box-shadow: inset 0px -4px 4px rgba(201, 194, 194, 0.25), inset 0px 4px 4px rgba(204, 199, 199, 0.25);
            border-radius: 13px;
            margin: 20px 2px 2px 2px;
            padding: 13px 7px;
            height: calc(100% - 90px);
            .item {
                display: flex;
                margin-bottom: 7px;
                padding: 20px 16px;
                color: #1DB9EA;
                background: rgba(29, 185, 234, 0.11);
                border-radius: 13px;
                &_img {
                    width: 50px;
                    height: 50px;
                }
                &_info {
                    margin-left: 20px;
                    &_name {
                        display: block;
                        font-weight: 500;
                    }
                    &_brand {
                        display: block;
                        color: tan;
                        font-size: 13px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}